body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.tabla-container {
    width: 80%;
    margin: auto;
    overflow-x: auto;
}

.tabla-alumnos {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.tabla-alumnos thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tabla-alumnos th, .tabla-alumnos td {
    padding: 12px 15px;
}

.tabla-alumnos tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla-alumnos tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabla-alumnos tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabla-alumnos tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}